@media (max-width:1250px) {
    .wrap {
        width: 90%;
        margin: 0px auto;
    }

    #banner h1 {
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .cards {
        width: 17%;
        margin: 1.45%;
    }

    .cards p {
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    #articles {
        width: 65%;
    }

    #articles article {
        width: 97%;
    }

    #footer .wrap>div {
        width: 24%;
    }

    #footer #browser img {
        width: 14%;
    }

    #footer h5 {
        font-size: 30px;
    }

}

@media (max-width: 1080px) {
    .cards .category {
        font-size: 17px;
    }

    .cards .description {
        font-size: 14px;
    }

    #articles {
        width: 61%;
    }
}

@media (max-width: 970px) {
    #articles {
        width: 59%;
    }

    #footer .wrap>div {
        width: 25%;
        margin: 20px;
    }

    #footer h5 {
        font-size: 22px;
    }

}

@media (max-width: 925px) {
    #articles {
        width: 65%;
    }

    #side {
        width: 25%;
    }

    #side input[type="text"] {
        width: 78%;
    }

    .aside-box {
        width: 97%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }

    #login a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #login input[type="email"],
    #login input[type="password"] {
        width: 65%;
    }

    #login #password,
    #login #user {
        margin-left: 24px;

    }

    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button {
        margin-bottom: 0px auto;
    }

    #login input[type="reset"] {
        display: none;
    }

}

@media (max-width: 899px) {
    #side h3 {
        font-size: 20px;
    }
}

@media (max-width: 799px) {
    #banner h1 {
        font-size: 29px;
    }

    .cards {
        height: auto;
    }

    .cards .category {
        font-size: 15px;
        margin-top: -23px;
    }

    .cards .description {
        display: none;
    }

    #footer img {
        margin-bottom: 15px;
        max-width: 100%;
    }

}

@media (max-width: 724px) {
    #header {
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }

    #logo {
        float: none;
        width: 200px;
        margin: 0px auto;


    }

    #menu {
        float: left;
        width: 440px;
        margin: 0px auto;
    }

    #side input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 660px) {
    #banner h1 {
        font-size: 25px;
    }

    #side {
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    #side input[type="text"] {
        width: 90%;
    }

    #login input[type="email"],
    #login input[type="password"] {
        width: 90%;
    }

    #articles {
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }

    .cards {
        width: 18%;
    }

    .cards .category {
        font-size: 12px;
    }

    .cards .icon {
        font-size: 45px;
    }

    .cards:hover .icon {
        font-size: 45px;
    }

    #footer {
        height: auto;
        padding-bottom: 20px;
    }

    #footer .wrap>div {
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }

    #footer h5 {
        font-size: 25px;
    }


}

@media (max-width: 475px) {
    #logo {
        float: left;
    }

    #header {
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }

    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }

    #menu ul li {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a:hover {
        color: #37bcf9;
        transform: scale(1, 1);
    }

    #banner {
        height: 85px;
    }

    #banner h1 {
        font-size: 18px;
    }

    #side input[type="text"] {
        width: 90%;
    }

    .cards {
        width: 18%;
    }

    .cards .icon {
        font-size: 35px;
    }

    .cards:hover .icon {
        font-size: 35px;
    }

    .cards .category {
        font-size: 12px;
    }

    #articles .data {
        float: none;
        margin: 1px;
        border-radius: 0px 0px 0px 0px;
    }
   
}
@media (max-width: 400px) {
    #logo {
        float: left;
    }

    #header {
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }

    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }

    #menu ul li {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a:hover {
        color: #37bcf9;
        transform: scale(1, 1);
    }

    #banner {
        height: 85px;
    }

    #banner h1 {
        font-size: 18px;
    }

    #side input[type="text"] {
        width: 88%;
    }

    .cards {
        width: 17%;
    }

    .cards .icon {
        font-size: 35px;
    }

    .cards:hover .icon {
        font-size: 35px;
    }

    .cards .category {
        font-size: 9px;
    }

    #articles .data {
        float: none;
        margin: 1px;
        border-radius: 0px 0px 0px 0px;
    }
   
}